---
---
<!doctype html>
<html lang="en">
  <head>
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>{{ site.data.copy.title }}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/pricing/">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">	

    <!-- Custom styles for this template -->
    <style>
        body {
            background: #f2f2f2;
        }

        #header {
            margin-bottom: 0 !important;
            letter-spacing: 1px;
            text-transform: uppercase;
            background: #081424 !important;
            border: 0px !important;
        }

        #jumbo {
            background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url(https://images.pexels.com/photos/7375/startup-photos.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
            margin: 0 !important;
            color: white;
            background-position: top -350px right 0px;
            background-size: cover;
        }

        #heading {
            text-transform: uppercase;
        }

        #company-name {
            color: #70ABFF;
            font-family: 'Baloo Bhai', cursive;
        }

        #features {
            margin-top: 4em;
        }

        .feature {
            margin-bottom: 3em;
        }

        .image {
            display: block;
            width: 400px;
            height: 350px;
            background-repeat: no-repeat;
            background-size: 400px 350px;
        }
    </style>
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow" id="header">
        <h5 id="company-name" class="my-0 mr-md-auto font-weight-normal">{{ site.data.copy.company }}</h5>
    </div>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" id="jumbo">
      <div class="col-md-10 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal" id="heading">{{ site.data.copy.heading }}</h1>
        <p class="lead font-weight-normal">{{ site.data.copy.subheading }}</p>
        <a class="btn btn-primary" href="#features" id="learn-btn">Learn More</a>
        <a class="btn btn-success" href="#pricing" id="sign-up">Sign Up</a>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

    <div class="container" id="features">
        {% for feature in site.data.features %}
          {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        <div class="row feature">
            {% if thecycle == 'odd' %}
            <div class="col-md-4 image" style="background-image: url({{ feature.image }})"></div>
            <div class="col-md-4">
                <h3>{{ feature.name }}</h3>
                <p>{{ feature.details }}</p>
            </div>
            {% else %}
                <div class="col-md-8">
                    <h3>{{ feature.name }}</h3>
                    <p>{{ feature.details }}
                </div>
                <div class="col-md-4 image" style="background-image: url({{ feature.image }})"></div>
            {% endif %}
        </div>
        {% endfor %}
    </div>


    <div id="pricing" class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-5">Get started with a 14-day risk free trial!</h1>
      <p class="lead"></p>
    </div>

    <div class="container">
      <div class="modal fade" id="user-dialog" tabindex="-1" role="dialog" aria-labelledby="user-dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">We aren't quite ready yet!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <div id="signup-form">
                          <h4>Sign up below, and we'll keep you updated on our progress!</h4>
                          <form>
                              <div class="form-group">
                                  <label for="user-name">Full Name:</label>
                                  <input type="text" class="form-control" id="user-name" placeholder="Full Name" />
                                  <input type="text" class="form-control" id="address" style="display: none;" />
                              </div>
                              <div class="form-group">
                                  <label for="user-email">Email Address</label>
                                  <input type="email" class="form-control" id="user-email" aria-describedby="email-help" placeholder="Email" />
                                  <small id="email-help" class="form-text text-muted">We won't share your information!</small>
                              </div>
                          </form>
                      </div>
                      <div id="success" style="display: none;">
                          <h4>Successfully signed up!</h4>
                          <p>We will let you know as soon as our product is available!</p>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-btn">Close</button>
                      <button type="button" class="btn btn-primary" id="submit-details">Submit</button>
                  </div>
              </div>
          </div>

      </div>
      <div class="card-deck mb-3 text-center">
        
        {% for price in site.data.pricing %}
        <div class="card mb-4 box-shadow">
          <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{ price.name }}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ price.price}} <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              {% for feature in price.features %}
                <li>{{ feature }}</li>
              {% endfor %}
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary" data-toggle="modal" data-target="#user-dialog">Select This Plan</button>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
        const CAMPAIGN_ID = {{ site.data.config.campaign }};

        $(function(){
            $("#close-btn").click(function(e) {
                $("#success").hide();
                $("#submit-details").show();
                $("#signup-form").show();
            });

            $('#submit-details').click(function(e){
                var email = $('#user-email');
                var name = $('#user-name');
                var spam = $('#address');

                // We only send the values if the fake 'address' field is not
                // filled. Otherwise we don't do anything.
                if(!spam.val()) {
                    var data = {email:email.val(), name: name.val(), campaign: CAMPAIGN_ID};

                    (async () => {
                      const rawResponse = await fetch('https://mail-subscribe.duckdns.org/api/subscribe', {
                        method: 'POST',
                        headers: {
                          'Accept': 'application/json',
                          'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                      });
                      const content = await rawResponse.json();

                      console.log(content);
                      $("#submit-details").hide();
                      $("#signup-form").hide();
                      $("#success").show();
                        
                      email.val('');
                      name.val('');
                    })();
                } else {
                    alert(`SPAM: ${spam.val()}`);
                }
            });
        });
    </script>
    </body>
</html>
